.topbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-title {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.topbar-user {
  color: #555;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.logo-title{
  justify-content: left;
  display: flex;
}

