.topbar {
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-title {
  font-size: 30px;
  font-weight: bold;
}

.topbar-user {
  color: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
