.sidebar {
  width: 240px;
  background-color: #083358;
  color: white;
  padding: 20px;
  height: 100%;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar a:hover,
.sidebar .active {
  font-weight: bold;
  text-decoration: underline;
}